<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reserve @ Bubba Gump</title>
</head>
<body>
    <h1> Welcome :) </h1>
    <table>
        <tr>
            <td>Room</td>
            <td>Thingy Number</td>
            <td>Guest</td>
        </tr>
        <!--Note: If I put a space (th: text, not th:text), the page crashes-->
        <!--Edit: Tried pasting completed exercise to see if it worked and it did
            Then tried undoing to see what changed and it still worked
            I think like a file or dependency was missing or something?-->
        <tr th:each="roomReservation: ${roomReservations}">
            <td th:text="${roomReservation.roomName}">Room Name</td>
            <td th:text="${roomReservation.roomNumber}">Room Number</td>
            <td th:text="${roomReservation.lastName} !=null
                ? ${roomReservation.lastName} + ',' + ${roomReservation.firstName}
                 : 'NONE HERE'">Guest</td>
        </tr>
    </table>

</body>
</html>